<% layout("layouts/boilerplate")%>
<link rel="stylesheet" href="/css/admin.css">
<h1>Admin Add Form Item</h1>
<form 
action="/admin/add-product" method="POST">
  <div class="form-group">
    <label for=" title">Title</label>
    <input class="form-control form-control-lg" type="text" name="title" id="title" placeholder="Enter item Title">
  </div>
  <div class="form-group">
    <label for="imageUrl">imageUrl</label>
    <input class="form-control form-control-lg" type="text" name="imageUrl" id="imageUrl" placeholder="Enter imageUrl">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input class="form-control form-control-lg" type="number" name="price" id="price" step="0.01" placeholder="Enter Item Price">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input class="form-control form-control-lg" type="text" name="description" id="description" placeholder="Enter Item Description">
  </div>
  <div class="form-group">
    <label for="qty">Qty</label>
    <input class="form-control form-control-lg" type="number" name="qty" id="qty" placeholder="Enter Item Quantity">
    <br>
    <button type="submit" class="button_slide slide_left">Add Product</button>
  </div>
</form>









