
<% layout("layouts/boilerplate")%>
<link rel="stylesheet" href="/css/error.css">
<div class="description">
    <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading"><%=err.message%></h4>
      
        <a href="/" class="btn btn-outline-secondary btn-lg"">Back to Home Page</a>
    </div>
  </div>



  